html 
    head 
        title Ticket details
    body
        h1 Ticket details
        ul 
            li: h1: a(href='/', title='Home') Home
            li: h3 First name: #{firstName}
            li: h3 Last name: #{lastName}
            li: h3 OIB: #{vatin}
            li: h3 Created: #{createdAt}
            li: h2 Logged user details: #{userDetails}